.container{
    display: flex;
    width: 58em;
    height: 10em;
    background-color: rgba(117, 117, 117, 0.062);
    border-radius: .6em;
    margin-bottom: 1em;
    color: rgba(255, 255, 255, 0.712);
    font-family: sans-serif;
}
.container:hover{
    background-color: rgba(0, 0, 0, 0.404);
}
.title{
    margin: .5em;
    position: absolute;
}
.icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.image{
    align-self: center;
    width: 3em;
    height: 3em;
    opacity: 0.8;
}
.image:hover{
    opacity: 1;
}
@media (max-width: 950px) {
    .container{
        width: 32em;
        align-self: center;
        margin-left: 1em;
    }
}