
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58em;
    height: 30em;
    background-color: rgba(117, 117, 117, 0.062);
    border-radius: .6em;
    margin-bottom: 1em;
    overflow: hidden;
}
.container:hover{
    background-color: rgba(0, 0, 0, 0.404);
}

.carousel{
    width: 55em;
    margin: 3em;
    margin-bottom: -0.6em;
}

.btn{
    background-color: transparent;
    border-radius: .5em;
    border-color: white;
    color: white;
    height: 3em;
    width: 4em;
    align-self: center;
    margin:1em;
    transition: 0.3s;
}.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.pagination{
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    width: .5em;
    height: .5em;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame{
    width: 570px;
    height: 359px;
    margin-bottom: .5em;
    transition: 0.4s;
    border-radius: .4rem;
}
.frame:hover{
    width: 670px;
    height: 459px;
}
.btnpopUp{
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.534);
    align-self: center;
    transition: 0.3s;
    font-family: sans-serif;
    font-size: 1.8em;
}
.btnpopUp:hover{
    color: white;
    cursor: pointer;
}
.modal{
    display: flex;
    width: 100%;
    height: 10%;
    color: white;
    justify-content: space-between;
    font-family: sans-serif;
}
.btnClose{
    background-color: transparent;
    height: 2em;
    width: 3em;
    color: white;
    border-radius: .4em;
    border-color: white;
    transition: 0.3s;
}
.btnClose:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.modalBody{
    color: white;
    font-family: sans-serif;
}
.links{
    background-color: transparent;
    height: 2em;
    color: white;
    border-radius: .4em;
    border-color: white;
    margin: .5em;
    transition: 0.3s;
}
.links:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.containerLinks{
    display: flex;
}

@media (max-width: 950px) {
    .frame{
        width: 370px;
        height: 159px;
        margin-top: 1.7em;
    }
    .frame:hover{
        width: 370px;
        height: 159px;
    }
    .container{
        width: 32em;
        height: 15em;
        align-self: center;
        margin-right: -1em;
    }
    .carousel{
        align-self: center;
        margin: .5em;
        width: 32em;
    }
    .btn{
        margin: 0em;
    }
}
@media (max-width: 550px){
    .container{
        width: 21em;
        height: 15em;
        align-self: center;
        margin-right: -1em;
    }
    .frame{
        width: 290px;
        height: 120px;
        margin-top: 1.7em;
    }
    .frame:hover{
        width: 290px;
        height: 120px;
    }
    .carousel{
        align-self: center;
        margin: 0em;
        width: 20em;
    }
    .btn{
        border-color: transparent;
        margin: -1em;
    }
    .btn:hover{
        background-color: transparent;
        color: white;
    }
}