
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58em;
    height: 30em;
    background-color: rgba(117, 117, 117, 0.062);
    border-radius: .6em;
    margin-bottom: 1em;
}
.container:hover{
    background-color: rgba(0, 0, 0, 0.404);
}

.carousel{
    width: 55em;
    margin: 3em;
    margin-bottom: -0.6em;
}

.btn{
    background-color: transparent;
    border-radius: .5em;
    border-color: white;
    color: white;
    height: 3em;
    width: 4em;
    align-self: center;
    margin:1em;
}.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.pagination{
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    width: .5em;
    height: .5em;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame{
    width: 570px;
    height: 359px;
    margin-bottom: .5em;
}
.span{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.575);
    font-family: sans-serif;
}
.span:hover{
    color: white;
}